@import '../../../config/var.less';
.product-v1{
  height: 100%;
  .tree-data {
    height: 100%;
    .tree-area{
      height: 100%;
      border-right: 1px solid #f0f0f0;
      .ant-tree{
        height: 100%;
        //background: none;
        //color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}
