@import '../../../config/var.less';

.chart-v1 {
  padding: 1em;

  .chart-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .operation-color {
      color: #1890ff
    }

    .panel-left {
      width: 66%;
    }

    .panel-right {
      width: 33%;

      .client-panel {
        height: 100%;
      }
    }
  }
}
